*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}
.navbar{
    
    background-color: rgb(51 51 51);
color: #b9b7b7;
}
.navupper{
    display: flex;
    top: 0px;
    padding: 11px 11px 20px 11px;
}
.navupper .leftnav i {
   
    right: 83px;
position: absolute;
font-size: 22px;
padding: 5px;
}
.navupper #rightnav i {
   
   right: 34px;
position: absolute;
font-size: 22px;
padding: 5px;

  z-index: 3;
  
  cursor: pointer;
}
.navlower{
    display: flex;
}
.navlower i{
    
    font-size: 21px;
padding: 3px 0px 16px 16px;
}
.navlower ul{
    display: flex;
    padding-left: 27px;
}
ul li {
    list-style: none;
}
.navbar ul li a{
    color: #b9b7b7;
    text-decoration: none;
    padding: 20px 50px 20px 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
.navbar ul li a:hover{
    color: rgb(18, 119, 52);
    text-decoration: underline;
}
#sidenav{
    width: 168px;
    height: 40vh;
    position: fixed;
    top: 7px;
    right: -168px;
    background: rgb(76 76 76);
    z-index: 2;
    transition: 0.5s;
    
    
}
#sidenav li{
    padding: 12px 12px 5px 12px;
}
#sidenav li a{
color: white;
text-decoration: none;
}
.main{
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 1.3rem;
}
.komal{
    display: flex;
    padding: 12px 12px 5px 12px;

}
.komal div{
    padding: 11px;
}
.main img{
    width: 62px;
    height: 51px;
    border-radius: 50%;

}
.govind{
    display: flex;
    padding: 12px 12px 5px 12px;

}
.govind div{
    padding: 11px;
}
.naman{
    display: flex;
    padding: 6px 12px 5px 12px;

}
.naman div{
    padding: 11px;}

    .lakshya{
        display: flex;
        padding: 6px 12px 5px 12px;
    
    }
    .lakshya div{
        padding: 11px;}

        .lalit{
            display: flex;
            padding: 6px 12px 5px 12px;
        
        }
        .lalit div{
            padding: 11px;}

            .nisha{
                display: flex;
                padding: 6px 12px 5px 12px;
            
            }
            .nisha div{
                padding: 11px;}

                .ayush{
                    display: flex;
                    padding: 6px 12px 5px 12px;
                
                }
                .ayush div{
                    padding: 11px;
                }
                .vibe{
                    display: flex;
                    padding: 6px 12px 5px 12px;
                
                }
                .vibe div{
                    padding: 11px;
                }
                .end{
                    background-color: rgb(36, 36, 36);
                    padding-bottom: 11px;
                }
                .endnav{
                    position: fixed;
                    bottom: 35px;
                    z-index: 2;
                   right: 51px;
                   background: green;
                 border: 17px solid green;
                 border-radius: 50%;
                 }
                .endnav i{
                   font-size: 20px;
                   background-color: rgb(0, 128, 58);
                   border-radius: 50%;
                    color: white;

                }
                footer{
                    background-color: rgb(36, 36, 36);
                    padding: 5px;
                }
